n8n/n8n_blogs.json
{
  "name": "IFX_Advanced_Agentic_Content_Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "53000677-fc2a-43cf-9f17-b76bb04b159f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://www.forexlive.com/feed/news",
        "responseFormat": "string"
      },
      "id": "3127ddf4-1875-40ea-94e8-8a07c336b9e7",
      "name": "Fetch Market Trends (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const xml = items[0].json.data;\nconst itemMatches = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null && itemMatches.length < 3) {\n  itemMatches.push(match[1]);\n}\n\nfunction getTagContent(xmlStr, tagName) {\n  const regex = new RegExp('<' + tagName + '(?:\\\\s+[^>]*)*>([\\s\\S]*?)<\\/' + tagName + '>', 'i');\n  const m = xmlStr.match(regex);\n  if (m) {\n    let content = m[1];\n    if (content.indexOf('<![CDATA[') !== -1) {\n      content = content.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1');\n    }\n    return content.trim();\n  }\n  return '';\n}\n\nfunction getAttributeValue(xmlStr, tagName, attrName) {\n  const regex = new RegExp('<' + tagName + '\\\\s+[^>]*?' + attrName + '=[\\\"\\']([^\\\"\\']+)[\\\"\\']', 'i');\n  const m = xmlStr.match(regex);\n  return m ? m[1] : '';\n}\n\nreturn itemMatches.map(itemXml => {\n  const title = getTagContent(itemXml, 'title');\n  const link = getTagContent(itemXml, 'link');\n  const description = getTagContent(itemXml, 'description');\n  let content = getTagContent(itemXml, 'content:encoded');\n  if (!content) {\n    content = getTagContent(itemXml, 'description');\n  }\n  const pubDate = getTagContent(itemXml, 'pubDate');\n  const image_url = getAttributeValue(itemXml, 'enclosure', 'url');\n\n  return {\n    json: {\n      title,\n      link,\n      description,\n      content,\n      pubDate,\n      image_url\n    }\n  };\n});"
      },
      "id": "4e7240c5-ee32-4dcf-8bb5-3f360e2a2202",
      "name": "Parse XML & Select Top 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"llama3:latest\", \"prompt\": \"You are Agent Alpha, the SEO Director for an institutional quantitative trading firm. Analyze the following news article:\\n\\nTitle: \" + $json.title + \"\\nContent: \" + $json.content + \"\\n\\nIdentify the top LSI keywords, search intent, and generate a highly professional, click-worthy headline (not clickbait). Also generate a clean, lowercase URL slug with hyphens.\\n\\nOutput Format MUST BE exactly JSON:\\n{\\n  \\\"headline\\\": \\\"...\\\",\\n  \\\"slug\\\": \\\"...\\\",\\n  \\\"keywords\\\": [\\\"...\\\", \\\"...\\\"]\\n}\", \"stream\": false, \"format\": \"json\" } }}",
        "responseFormat": "json"
      },
      "id": "273a216d-318e-49b8-b1fc-e3e91129b0f4",
      "name": "Agent Alpha [SEO Director]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"deepseek-r1:8b\", \"prompt\": \"You are Agent Beta, a Senior Quantitative Analyst at an institutional trading firm. Read the raw news article:\\n\\n\" + $node[\"Parse XML & Select Top 3\"].json[\"content\"] + \"\\n\\nExtract all hard data, key numbers, rates, central bank perspectives, quotes, and institutional facts. Do not write a summary. Write bullet points of pure data and facts. Strip all fluff and general commentary.\", \"stream\": false } }}",
        "responseFormat": "json"
      },
      "id": "89ab1037-ea76-4700-be4c-70e63ed49de7",
      "name": "Agent Beta [Quant Analyst]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"llama3:latest\", \"prompt\": \"You are Agent Gamma, the elite Ghostwriter for IFX Trades. You must write an institutional market analysis blog post based on the facts provided.\\n\\nCRITICAL INSTRUCTIONS TO EVADE AI DETECTORS AND SOUND 100% HUMAN:\\n- NEVER use typical AI words: \\\"delve\\\", \\\"furthermore\\\", \\\"in conclusion\\\", \\\"testament\\\", \\\"landscape\\\", \\\"tapestry\\\", \\\"revolutionize\\\", \\\"underscores\\\".\\n- Use highly varied sentence lengths (burstiness). Some sentences must be extremely short. Others complex.\\n- Write with an authoritative, direct, and slightly cynical tone. Read like a seasoned human trader on Wall Street.\\n- Do not summarize. Analyze.\\n\\nHere are the facts from Agent Beta (ignore any <think>...</think> thinking logs and focus only on the facts):\\n\" + $node[\"Agent Beta [Quant Analyst]\"].json[\"response\"] + \"\\n\\nWrite the article now.\", \"stream\": false } }}",
        "responseFormat": "json"
      },
      "id": "b3457cf6-3f1a-4d32-841f-827d532a819b",
      "name": "Agent Gamma [Anti-AI Ghostwriter]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"llama3:latest\", \"prompt\": \"You are Agent Delta, the Auditor and Editor. Review this drafted article:\\n\\n\" + $node[\"Agent Gamma [Anti-AI Ghostwriter]\"].json[\"response\"] + \"\\n\\nIf it sounds like an AI wrote it, rewrite the awkward parts to sound 100% human and professional. Output the final article formatted in pristine HTML, using <h2> for subtitles and <ul><li> for lists. Do not include <html> or <body> tags, just the raw inner HTML content. Do not output anything else but the HTML.\", \"stream\": false } }}",
        "responseFormat": "json"
      },
      "id": "dc9f1b4c-9f81-4b13-9c87-bb71a3c7c8c3",
      "name": "Agent Delta [The Auditor]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const seoData = JSON.parse($node[\"Agent Alpha [SEO Director]\"].json.response);\nconst finalHtml = $node[\"Agent Delta [The Auditor]\"].json.response;\nconst rawData = $node[\"Parse XML & Select Top 3\"].json;\n\nreturn {\n  json: {\n    title: seoData.headline,\n    slug: seoData.slug,\n    content: finalHtml,\n    body: finalHtml,\n    image_url: rawData.image_url,\n    featured_image: rawData.image_url,\n    status: \"published\",\n    content_type: \"blog\",\n    category: \"Market Analysis\"\n  }\n};"
      },
      "id": "a9316715-db14-49c0-be39-819a55be62cb",
      "name": "Format Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "content_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.slug }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "body",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.image_url }}"
            },
            {
              "fieldId": "featured_image",
              "fieldValue": "={{ $json.featured_image }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "={{ $json.content_type }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            }
          ]
        }
      },
      "id": "469085ec-bfb6-4ff7-aba7-c0f582f3c3a9",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential-id",
          "name": "Supabase Connection"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Market Trends (RSS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Market Trends (RSS)": {
      "main": [
        [
          {
            "node": "Parse XML & Select Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML & Select Top 3": {
      "main": [
        [
          {
            "node": "Agent Alpha [SEO Director]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Alpha [SEO Director]": {
      "main": [
        [
          {
            "node": "Agent Beta [Quant Analyst]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Beta [Quant Analyst]": {
      "main": [
        [
          {
            "node": "Agent Gamma [Anti-AI Ghostwriter]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Gamma [Anti-AI Ghostwriter]": {
      "main": [
        [
          {
            "node": "Agent Delta [The Auditor]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Delta [The Auditor]": {
      "main": [
        [
          {
            "node": "Format Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Supabase Payload": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}